<html>

<head>
    <title>Swaad Recipes</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<body>
    <div class="main">
        <div class="nav-container
            <% if(showRoutes == true) {%>
                increase-height
                <%}%>
            ">
            <div class="nav-logo">
                <div class="logo">Swaad Recipes</div>
                <form class="nav-routes" action="/home" method="post">
                    <button class="route-button">
                        <img class="hamburger" src="/Images/hamburger.png" alt="">
                    </button>
                </form>
            </div>
            <div class="nav-route-buttons 
                <% if(showRoutes == true) {%>
                    show-route-buttons
                    <%}%>
                    ">
                <div class="home-route">
                    <form action="/home" method="post" class="routes">
                        <button class="route-button">Home</button>
                    </form>
                </div>
                <div class="recipes-route">
                    <form action="/recipes" method="post" class="routes">
                        <button class="route-button">Recipes</button>
                    </form>
                </div>
                <div class="about-route">
                    <form action="/about" method="post" class="routes">
                        <button class="route-button">About</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="body-left">
                <img class="image" src="../Images/s-o-c-i-a-l-c-u-t-hwy3W3qFjgM-unsplash.jpg" alt="img">
            </div>
            <div class="body-right">
                <div class="body-text">
                    Swaad Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.
                    <br>
                    Welcome to Swaad Recipe, a platform dedicated to the love of cooking and sharing recipes! Here, you can find a variety of recipes from talented cooks around the world and also contribute your own recipes to the community. Whether you're a seasoned chef or just starting out in the kitchen, Swaad Recipe is the perfect place to discover new and exciting dishes, learn cooking techniques, and connect with like-minded food enthusiasts. So, come on in and explore the world of delicious cuisine with us!
                </div>
                <div class="body-buttons">
                    <form action="/recipes" method="post" class="explore-recipes">
                        <button class="body-button">Explore Recipes</button>
                    </form>
                    <form action="/home?showForm=true" method="post" class="create-recipes">
                        <button class="body-button">Add Recipes</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    <div class="add-recipe-form
    <% if(showForm == true) {%>
        show-recipe-form
        <%}%>
    ">
        <form action="/validateForm" method="post" class="recipeForm" enctype="multipart/form-data">
            <label class="form-element" for="">Name</label>
            <input class="form-element" type="text" name="recipeName" >
            <label class="form-element" for="">Description</label>
            <input class="form-element" type="text" name="description">
            <label class="form-element" for="">Ingredients</label>
            <input class="form-element" type="text" name="ingredients">
            <label class="form-element" for="">Steps</label>
            <textarea class="form-element" name="steps" ></textarea>
            <label  class="form-element" for="">Upload Image</label>
            <input  class="form-element" type="file" accept="image/*" name="recipeImage">
            <button class="form-element"  type="submit" >Create Recipe</button>
            <button class="form-element"  type="submit" formaction="/home?showForm=false" method="post">Close form</button>
        </form>
    </div>
    
</body>

</html>