*{
    box-sizing: border-box;
}
.main{
    background-color: BFCCB5;
}
.nav-container {
    height: 10vh;
    width: 95vw;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.increase-height {
    height: 25vh;
}

.nav-logo {
    height: 10vh;
    width: 100%;
    display: flex;
}

.logo {
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2rem;
    font-size: 2.4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: 393646;
}

.nav-routes {
    height: 100%;
    width: 20%;

}

.route-button {
    height: 100%;
    width: 100%;
    background-color: BFCCB5;
    border: none;
    font-size: 1.2rem;
}
.route-button:hover{
    font-size: 1.5rem;
}

.hamburger {
    height: 100%;
    width: 100%;
}


.nav-route-buttons {
    visibility: hidden;
    height: 15vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.show-route-buttons {
    visibility: visible;
}

.home-route,
.recipes-route,
.about-route {
    height: 5vh;
    width: 100%;
}

.main-body {
    height: 90vh;
    width: 100vw;


    display: flex;
    flex-direction: row;

}

.body-left {
    visibility: hidden;
    width: 50%;
    height: 100%;
}
.image{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 10%;
    object-fit: cover;
}

.body-right {
    height: 100%;
    width: 95%;


}

.body-text {
    height: 70%;
    width: 90%;
    box-sizing: border-box;
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;

}

.body-buttons {
    height: 30%;
    width: 96%;

    box-sizing: border-box;
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.explore-recipes,
.create-recipes {
    height: 15%;
    width: 50%;
    margin: 3%;
}

.body-button {
    height: 200%;
    width: 100%;
    border-radius: 2%;
    background-color:#e4eae1;
    border: none;
    font-size: 1.1rem;
}
.body-button:hover{
    height: 210%;
    width: 105%;
    font-size: 1.3rem;
    box-shadow: 0 0 0 .1rem #95ac83, 0 0 0 .1rem #95ac83;
}


@media only screen and (min-width: 660px) {
    .nav-container {
        flex-direction: row;
        align-items: center;
    }

    .home-route,
    .recipes-route,
    .about-route {
        height: 10vh;
        width: 30%;

    }

    .routes {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .route-button {
        height: 60%;

    }

    .nav-logo {
      
        width: 50%;
      
    }

    .increase-height {
        height: 10vh;
    }

    .nav-routes {
        visibility: hidden;
    }

    .nav-route-buttons {
        width: 50%;
        height: 100%;
        visibility: visible;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-body {
        display: flex;
        flex-direction: row;
    }

    .body-left {
        visibility: visible;
        height: 100%;
        width: 50%;

    }

    .body-right {
        width: 50%;
    }

    .body-buttons {
        flex-direction: row;
        align-items: flex-start;
    }
}

/* ------------------------------------------- */

.add-recipe-form {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: #2F2F2FBF;
    transform: scale(1.1);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-recipe-form{
    visibility: visible;
}
.recipeForm{
    background-color: #bfccb5;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-element{
    width: 80%;
    padding: .3rem ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}